.myContainer {
    width: 90%;
    margin: 0% auto 0% auto;
}

td {
    text-align: center;
}

.detailTarget {
    background-color: gray;
}

.dropdown-item {
    cursor: pointer;
}

.right {
    position: absolute;
    right: 0px;
}

.vertical {
    position: absolute;
    transform: translate(0%, 12%);
}

#preloader {
    margin-top: 250px;
}

.nav-tabs li:first-child {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.nav-tabs li:last-child, #previousButton, #nextButton {
    cursor: pointer;
}

.nav {
    margin: 15px 0px;
}