td, th {
    text-align: center;
}

.detailTarget {
    background-color: gray;
}

.right {
    position: absolute;
    right: 0px;
}

.vertical {
    position: absolute;
    transform: translate(0%, 12%);
}

#preloader {
    margin-top: 250px;
}

.dropdown-item, .pointerCursor {
    cursor: pointer;
}

#detailPageHeader {
    text-align: center;
}

hr {
    margin: 8px 0px;
}

.mtRow {
    margin-top: 15px;
}

.input-group-text {
    border: 1px solid #7986cb;
    background-color: #3949ab;
    color: #e8eaf6;
}

.datetimepicker-input, .dropdown-toggle {
    border: 1px solid #7986cb;
}

#detail, #tableArea {
    border: 2px solid #3949ab;
}

#tableArea {
    margin-top: 10px;
}

.accent {
    background-color: #e8eaf6;
}

table {
    margin: 5px;
}