td, th {
    text-align: center;
}

.detailTarget {
    background-color: gray;
}

.right {
    position: absolute;
    right: 0px;
}

.vertical {
    position: absolute;
    transform: translate(0%, 12%);
}

#preloader {
    margin-top: 250px;
}

.dropdown-item, .pointerCursor {
    cursor: pointer;
}

#detailPageHeader {
    text-align: center;
}

hr {
    margin: 8px 0px;
}

.mtRow {
    margin-top: 15px;
}