.myContainer {
    width: 90%;
    margin: 0% auto 0% auto;
}

.dropdown-item {
    cursor: pointer;
}

.nav-tabs li:first-child {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.nav-tabs li:first-child:hover h5 {
    border: none;
    background: none;
}