.myContainer {
    width: 90%;
    margin: 0% auto 0% auto;
}

.dropdown-item, nav a:first-child {
    cursor: pointer;
}

.nav-tabs li:first-child {
    width: 75%;
    margin: 10px auto 0px auto;
    text-align: center;
}