[Unit]
Description=Python script that receives data from the data center monitoring system
[Service]
ExecStart=~/.virtualenvs/api/bin/python /opt/monitoring/database/code/receive_data.py