[Unit]
Description=Python script that receives data from the data center monitoring system
Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/home/mis/.virtualenvs/database/bin/python /opt/monitoring/database/code/receive_data.py
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target