<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
      <img src="{% static 'dashboard/images/ju_logo.jpg' %}" width="35" height="35" class="d-inline-block align-top" alt="Jimma University Logo">
      Jimma University
    </a>
    <div>
      <div style="float:left">
        <a class="navbar-brand">Data Center Dashboard</a>
      </div>
      <!-- Nav right dropdown -->
      <div class="dropdown" style="float:right">
        <button class="navbar-toggler" type="button" id="navMenuDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navMenuDropdown">
          <a class="dropdown-item">Dashboard</a>
          <a id="detailLink" class="dropdown-item" href="/dashboard/detail">Detail lookup</a>
          <a id="settingsTrigger" class="dropdown-item" data-toggle="modal" data-target="#settingsModal" data-backdrop="static" data-keyboard="false">Dashboard Settings</a>
        </div>
      </div>
    </div>
  </nav>