{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/lib/css/bootstrap-4.3.1.min.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/lib/css/fontawesome-5.8.1.min.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/styles/general.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/styles/index.css' %}" media="all">
  </head>
  <!-- Body -->
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <a class="navbar-brand">
        <img src="{% static 'dashboard/images/ju_logo.jpg' %}" width="35" height="35" class="d-inline-block align-top" alt="Jimma University Logo">
        Jimma University
      </a>
      <div>
        <div style="float:left">
          <a class="navbar-brand">Data Center Dashboard</a>
          <a id="detailLink" href="/dashboard/detail"><i class="fas fa-search fa-lg"></i></a>
          <a id="historyLink" href="/dashboard/history"><i class="fas fa-history fa-lg"></i></a>
        </div>
      </div>
    </nav>
    <!-- Main container -->
    <div class="myContainer">
      <!-- Dashboard -->
      <div id="dashboard">
        <!-- Dashboard header -->
        <div class="row dashboardRow">
          <!-- General info -->
          <div class="col-sm-1 dashboardFirstColumn">
            <h3>Status</h3>
          </div>
          <div class="statusCol col-sm-4">
            <table>
              <tr>
                <th>Current date</th>
              </tr>
              <tr>
                <td id="dashboardDate"></td>
              </tr>
              <tr>
                <th>Last update</th>
              </tr>
              <tr>
                <td id="lastUpdateTime"></td>
              </tr>
            </table>
          </div>
          <!-- Alarms -->
          <div id="alarmContainer" class="statusCol col-sm">
            <table>
              <tr>
                <td id="movementText" class="movementAlarm">Motion detection active</td>
                <td id="smokeText" class="smokeAlarm">Smoke detection active</td>
              </tr>
              <tr>
                <td id="movementImage" class="movementAlarm"><img src="{% static 'dashboard/images/movement_preloader.svg' %}" height="50px"></td>
                <td id="smokeImage" class="smokeAlarm"><img src="{% static 'dashboard/images/smoke_preloader.svg' %}"></td>
              </tr>
            </table>
          </div>
          <!-- Status indicator -->
          <div id="statusContainer" class="statusCol col-sm-2">
            <table>
              <tr>
                <td id="statusText">Dashboard online</td>
              </tr>
              <tr>
                <td><img src="{% static 'dashboard/images/green_circle.jpg' %}" height="50px"></td>
              </tr>
            </table>
          </div>
        </div>
        <!-- Grid -->
        <div class="row dashboardRow">
          <div class="col-sm-1 dashboardFirstColumn">
            <div><i id="settingsTrigger" class="fas fa-cogs fa-lg" data-toggle="modal" data-target="#settingsModal" data-backdrop="static" data-keyboard="false"></i></div>
            <h3>Dashboard</h3>
          </div>
          <div id="gridArea" class="col-md-11"></div>
        </div>
      </div>
      <!-- Settings modal -->
      <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header">
              <h5 class="modal-title mx-auto" id="settingsModalLabel">Dashboard Settings</h5>
            </div>
            <!-- Modal body -->
            <div id="settings" class="modal-body">
              <!-- Grid size controls -->
              <div id="gridControls">
                <h6>Grid size:</h6>
                <!-- Rows -->
                <div id="rowSetting" class="form-group row">
                  <label class="col-sm-6 col-form-label">Number of rows:</label>
                  <div class="dropdown col-sm-6"></div>
                </div>
              </div>
              <!-- Dashboard controls -->
              <div id="dashboardControls">
                <h6>Dashboard controls:</h6>
                <!-- Refresh settings -->
                <div id="refreshSetting" class="form-group row">
                  <label class="col-sm-6 col-form-label">Refresh time:</label>
                  <div class="dropdown col-sm-6"></div>
                </div>
                <!-- Scope settings -->
                <div id="scopeSetting" class="form-group row">
                  <label class="col-sm-6 col-form-label">Graph scope:</label>
                  <div class="dropdown col-sm-6"></div>
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div id="saveSettings" class="modal-footer">
              <button class="btn btn-secondary btn-sm mr-auto">Cancel</button>
              <button class="btn btn-secondary btn-sm">Save</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Detail modal -->
      <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header">
              <h5 class="modal-title" id="detailModalLabel">Sensor reading details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
              <div id="date"></div>
              <div id="value"></div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button id="moreInfo" class="btn btn-secondary btn-sm">Get more info</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <script type="text/javascript" src="{% static 'dashboard/lib/js/eventsource.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/lib/js/reconnecting-eventsource.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/lib/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/lib/js/popper-1.15.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/lib/js/bootstrap-4.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/lib/js/d3-5.9.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/lib/js/jscolor-2.0.5.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/general/settings.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/general/functions.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/general/graph.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/general/gridcell.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/index/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/index/index-handlers.js' %}"></script>
  </body>
</html>
