{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/lib/css/bootstrap-4.3.1.min.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/lib/css/fontawesome-5.8.1.min.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/styles/index.css' %}" media="all">
  </head>
  <!-- Body -->
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">
        <img src="{% static 'dashboard/images/ju_logo.jpg' %}" width="35" height="35" class="d-inline-block align-top" alt="Jimma University Logo">
        Jimma University
      </a>
      <div>
        <div style="float:left">
          <a class="navbar-brand" href="#">Data Center Dashboard</a>
        </div>
        <!-- Nav right dropdown -->
        <div class="dropdown" style="float:right">
          <button class="navbar-toggler" type="button" id="navMenuDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navMenuDropdown">
            <a class="dropdown-item">Dashboard</a>
            <a id="detailLink" class="dropdown-item" href="/dashboard/detail">Detail lookup</a>
            <a id="settingsTrigger" class="dropdown-item" data-toggle="modal" data-target="#settingsModal">Dashboard Settings</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- Main container -->
    <div class="myContainer">
      <!-- Dashboard -->
      <div id="dashboard">
        <!-- Grid -->
        <div id="gridArea">
          <div id="gauge"></div>
        </div>
      </div>
      <!-- Settings modal -->
      <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header">
              <h5 class="modal-title mx-auto" id="settingsModalLabel">Dashboard Settings</h5>
            </div>
            <!-- Modal body -->
            <div id="settings" class="modal-body">
              <!-- Grid size controls -->
              <div id="gridControls">
                <h6>Grid size:</h6>
                <!-- Rows -->
                <div id="rowSetting" class="form-group row">
                  <label class="col-sm-6 col-form-label">Number of rows:</label>
                  <div class="dropdown col-sm-6"></div>
                </div>
                <!-- Columns -->
                <div id="columnSetting" class="form-group row">
                  <label class="col-sm-6 col-form-label">Number of columns:</label>
                  <div class="dropdown col-sm-6"></div>
                </div>
              </div>
              <!-- Dashboard controls -->
              <div id="dashboardControls">
                <h6>Dashboard controls:</h6>
                <!-- Refresh settings -->
                <div id="refreshSetting" class="form-group row">
                  <label class="col-sm-6 col-form-label">Refresh time:</label>
                  <div class="dropdown col-sm-6"></div>
                </div>
                <!-- Scope settings -->
                <div id="scopeSetting" class="form-group row">
                  <label class="col-sm-6 col-form-label">Graph scope:</label>
                  <div class="dropdown col-sm-6"></div>
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div id="saveSettings" class="modal-footer">
              <button class="btn btn-secondary btn-sm mr-auto">Cancel</button>
              <button class="btn btn-secondary btn-sm">Save</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Detail modal -->
      <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header">
              <h5 class="modal-title" id="detailModalLabel">Sensor reading details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
              <ul>
                <li id="date"></li>
                <li id="value"></li>
              </ul>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button id="moreInfo" class="btn btn-secondary btn-sm">Get more info</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <script type="text/javascript" src="{% static 'dashboard/lib/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/lib/js/popper-1.15.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/lib/js/bootstrap-4.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/lib/js/d3-5.9.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/general/settings.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/general/graph.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/general/gauge.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/index/gridcell.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/index/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/index/index-handlers.js' %}"></script>
  </body>
</html>
