{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/lib/css/bootstrap-4.3.1.min.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/styles/index.css' %}" media="all">
  </head>
  <!-- Body -->
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-primary">
      <h1>Jimma University Datacenter Monitoring</h1>
    </nav>
    <!-- Main container -->
    <div class="container">
      <!-- Dashboard controls -->
      <div id="dashboardControls">
        <!-- Toggle buttons -->
        <div id="refreshGroup" class="btn-group" role="group" aria-label="toggle">
          <button id="realtimeButton" type="button" class="btn btn-outline-secondary btn-sm">RT</button>
          <button id="savingsButton" type="button" class="btn btn-outline-secondary btn-sm active">MS</button>
        </div>
        <!-- Scope buttons -->
        <div id="scopeGroup" class="btn-group" role="group" aria-label="toggle">
          <button id="minButton" type="button" class="btn btn-outline-secondary btn-sm active">15 Minutes</button>
          <button id="hourButton" type="button" class="btn btn-outline-secondary btn-sm">Last Hour</button>
          <button id="dayButton" type="button" class="btn btn-outline-secondary btn-sm">Today</button>
        </div>
      </div>
      <!-- Graphs -->
      <div id="graphWrapper">
        <!-- Temperature graph -->
        <div id="tempGraph"></div>
      </div>
      <div id="alarmWrapper">
        <h6 id="alarmText">No movement detected</h6>
        <div id="movementCircle"></div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="detailModalLabel">Sensor reading details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ul>
                  <li id="date"></li>
                  <li id="value"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <script type="text/javascript" src="{% static 'dashboard/lib/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/lib/js/bootstrap-4.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/lib/js/d3-5.9.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_eventstream/eventsource.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_eventstream/reconnecting-eventsource.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/graph.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/index-main.js' %}"></script>
  </body>
</html>
